@import "../config.scss";

.root {
  // background-color: $brand-primary;
  margin: 10px auto 10px auto;
  border: 2px solid $brand-primary;
  border-radius: 5px;

  // width: 250px;
  width: var(--itemWidth);

  span {
    padding: 3px;
  }

  &:hover {
    background-color: $brand-primary;
    cursor: pointer;
  }
}


.twitter {
  font-size: 30pt;
}
